@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* swiper slider style */
.swiper-button-prev,
.swiper-button-next {
  /* Background color for buttons */
  padding: 10px;
  transition: background-color 0.3s;
}
